* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  background: #f4f4f4;
  justify-content: space-between; /** try start, center, end, space-around, space-evenly **/
  height: 400px;
  align-items: center;
}

.item {
  width: 100px;
  height: 100px;
  background: #254de4;
  color: #fff;
  margin: 10px;
}

.item:nth-of-type(1) {
  align-self: start;
}

.item:nth-of-type(2) {
  align-self: center;
}

.item:nth-of-type(3) {
  align-self: end;
}
